.our-menu {
  margin: 75px 0;
  background-color: #ffffff;
}
.dark-mode .our-menu {
  background-color: #494949;
}
.menu-title {
  width: max-content;
  margin: 0 auto 52px;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
