.our-menu {
  margin: 75px 10px;
  background-color: #ffffff;
}
.dark-mode .our-menu {
  background-color: #494949;
}
.menu-title {
  width: max-content;
  margin: 0 auto 52px;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
@media (max-width: 1024px) {
  .our-menu {
    margin: 60px 10px;
  }

  .menu-title {
    font-size: 38px;
    margin-bottom: 40px;
  }

  .menu-items {
    gap: 12px;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .our-menu {
    margin: 50px 0;
  }

  .menu-title {
    font-size: 32px;
    margin-bottom: 35px;
  }

  .menu-items {
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap; /* xuống dòng nếu quá nhiều item */
  }
}
@media (max-width: 500px) {
  .our-menu {
    margin: 35px 0;
  }

  .menu-title {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .menu-items {
    gap: 8px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* xuống dòng khi cần */
  }
}
