.our-customers {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  margin: 90px 75px;
}

.our-customers-title {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
}

.customer-rated {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.customer-rated-item {
  width: 312px;
  height: 306px;
  background-color: #f9f9f7;
  padding: 26px;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}
.dark-mode .customer-rated-item {
  background-color: #595959;
}
.customer-rated-item:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
}

.customer-rated-item h1 {
  font-size: 20px;
  margin-top: 18px;
  color: #ad343e;
}
.customer-rated-item h1 {
  color: #ffcc66;
}
.customer-rated-item p {
  margin-top: 22px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin-bottom: 18px;
}

.cart-custom {
  display: flex;
  align-items: center;
  gap: 15px;
  border-top: 1px solid #dedadad8;
  padding-top: 22px;
}

.cart-custom img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.info-custom h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.info-custom div {
  font-size: 15px;
}
