.header-blog {
  padding: 60px 300px;
  background-color: #f9f9f7;
}
.dark-mode .header-blog {
  background-color: #595959;
}
.header-blog h1 {
  text-align: center;
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 300;
}
.dark-mode .header-blog h1 {
  color: #ffcc66;
}
.header-blog p {
  color: #33333391;
  margin: 10px 50px;
  text-align: center;
}
.dark-mode .header-blog p {
  color: #fff;
}
/* Tablet 1024px */
@media (max-width: 1024px) {
  .header-blog {
    padding: 50px 200px;
  }

  .header-blog h1 {
    font-size: 60px;
  }

  .header-blog p {
    margin: 10px 40px;
    font-size: 15px;
  }
}

/* Tablet nhỏ 800px */
@media (max-width: 800px) {
  .header-blog {
    padding: 40px 100px;
  }

  .header-blog h1 {
    font-size: 50px;
  }

  .header-blog p {
    margin: 10px 30px;
    font-size: 14px;
  }
}

/* Mobile 500px */
@media (max-width: 500px) {
  .header-blog {
    padding: 30px 20px;
  }

  .header-blog h1 {
    font-size: 35px;
  }

  .header-blog p {
    margin: 10px 15px;
    font-size: 13px;
  }
}
