.page-home,
.page-about,
.page-blog,
.page-contact,
.page-cart,
.page-blog-detail,
.page-checkout,
.search-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.page-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.page-contact {
  position: relative;
}
