.footer {
  background-color: #474747;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 70px;
  overflow: hidden;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 60px;
  justify-content: center;
  color: #fff;
  padding: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-brand p {
  font-size: 16px;
  margin-right: 18px;
  color: #adb29e;
}
.footer-links,
.footer-utility {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-links a,
.footer-utility a {
  color: #adb29e;
}
.instagram-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.instagram-img img {
  width: 160px;
  height: 130px;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}
.instagram-img img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
}
.copyright {
  color: #adb29e;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: repeat(2, auto); /* từ 4 cột → 2 cột */
    gap: 40px;
    padding: 40px;
  }

  .instagram-img img {
    width: 140px;
    height: 110px;
  }
}
@media (max-width: 800px) {
  .footer-content {
    grid-template-columns: repeat(2, auto); /* từ 4 cột xuống 2 */
    gap: 40px;
    padding: 40px 20px;
  }

  .instagram-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .instagram-img img {
    width: 140px;
    height: 110px;
  }
}
@media (max-width: 500px) {
  .footer-content {
    grid-template-columns: 1fr; /* Tất cả thành 1 cột */
    gap: 20px;
    padding: 20px 10px;
    text-align: center; /* Cho đẹp hơn ở mobile */
  }

  .instagram-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }

  .instagram-img img {
    width: 120px;
    height: 100px;
  }
}
