.delivery-food {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 52px;
  background-color: #f9f9f7;
  padding: 90px 75px;
}
.dark-mode .delivery-food {
  background-color: #595959;
}
.delivery-food-imgs {
  display: flex;
  align-items: start;
  gap: 22px;
}

.delivery-food-imgs .img-large {
  width: 323px;
  height: 450px;
  object-fit: cover;
  transition: ease-in 0.2s;
}
.delivery-food-imgs .img-large:hover,
.list-img-small img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transition: ease-in 0.2s;
}
.list-img-small {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.list-img-small img:first-of-type {
  width: 218px;
  height: 250px;
  object-fit: cover;
  transition: ease-in 0.2s;
}

.list-img-small img:last-of-type {
  width: 218px;
  height: 180px;
  object-fit: cover;
  transition: ease-in 0.2s;
}

.delivery-food-content {
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.delivery-food-content h1 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}

.delivery-food-content p {
  font-size: 14px;
}

.service-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 11px;
}

.service-icon {
  width: 15px;
  height: 15px;
  padding: 7px;
  background-color: #ad343e;
  border-radius: 50%;
  color: aliceblue;
}
.dark-mode .service-icon {
  background-color: #ffcc66;
  color: #000000;
}
.service-item span {
  font-size: 15px;
}
