/* search product */
.search-product {
  position: relative;
  display: flex;
  align-items: center;
}
.search-product:hover .search-product-icon,
.search-product:focus-within .search-product-icon {
  color: #14845b;
}
.dark-mode .search-product:hover .search-product-icon,
.dark-mode .search-product:focus-within .search-product-icon {
  color: #ffcc66;
}
.search-product-icon {
  z-index: 10;
  position: absolute;
  top: 13px;
  right: 13px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  font-size: 18px;
}
@media (max-width: 500px) {
  .search-product-icon {
    font-size: 14px;
  }
}
