.sidebar {
  position: sticky;
  top: 20vh;
  bottom: 20vh;
  width: 250px;
  flex-shrink: 0;
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-width: none;
  margin: 50px;
  z-index: 10;
  overflow-y: auto;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 150px 50px 150px 0;
  border-right: 1px solid #3333334c;
}
