.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  display: flex;
}
.content {
  flex: 1;
  min-width: 0;
  margin: 10px auto;
  margin-bottom: -5px;
}
/* @media (max-width: 1200px) {
  .content {
    width: max-content;
    margin: 10px auto;
    margin-bottom: -5px;
  }
} */
