.page-home,
.page-about,
.page-pages,
.page-contact {
  display: flex;
  flex-direction: column;
}
.page-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.page-contact {
  position: relative;
}
