.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 282px;
  border-radius: 8px;
  border: 1px solid #dbdfd0;
  font-size: 12px;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}
.menu-item:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.menu-item:hover .menu-item-img {
  transform: translateY(-60%);
}
.menu-item-img {
  border-radius: 50%;
  overflow: hidden;
  padding: 15px;
  background-color: #f3f3f0;
  width: 75px;
  height: 75px;
  margin: 22px;
  transition: all 0.4s;
}

.menu-item img {
  width: 38px;
  height: 38px;
  background-color: #f3f3f0;
  display: block;
  margin: 0 auto;
}

.menu-item h1 {
  text-align: center;
  font-size: 18px;
}

.menu-item p {
  margin: 11px;
  padding: 7px 15px;
  text-align: center;
  font-size: 12px;
}

.explore-menu {
  color: #ad343e;
}
