.btn {
  padding: 22px 15px;
  cursor: pointer;
  font-size: 16px;
  min-width: 165px;
  border-radius: 38px;
  font-weight: 550;
  transition: all;
}
.btn:hover {
  transform: scale(1.05);
}
.primary {
  color: #ffffff;
  background-color: #ad343e;
  transition: ease-in-out 0.2s;
}

.primary:hover {
  background-color: rgb(209, 13, 13);
  transition: ease-in-out 0.2s;
}
.dark-mode .primary {
  background-color: #f2b335;
  color: black;
}
.dark-mode .primary:hover {
  background-color: #ffcc66;
}
.outline {
  border: 1px solid black;
  transition: ease-in-out 0.2s;
}
.dark-mode .outline {
  border: 1px solid #fff;
  background-color: #595959;
}
.dark-mode .outline {
  color: #fff;
}

.dark-mode .outline {
  background-color: #494949;
}
.outline:hover {
  color: #a11e29;
  transition: all 0.2s;
  border: 1px solid #a11e29;
  transition: ease-in-out 0.2s;
}
.dark-mode .outline:hover {
  color: #ffcc66;
  border: 1px solid #ffcc66;
  background-color: #222;
}

.small {
  width: 112px;
  padding: 15px 22px;
  min-width: unset;
}
