.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding-top: 137px;
  z-index: 1;
}

/* Tablet: từ 768px đến < 1200px */
@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding-top: 117px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-top: 112px;
  }
}
@media (max-width: 800px) {
  .container {
    padding-top: 165px;
  }
}
