.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding-top: 137px;
  z-index: 1;
}
/* Desktop lớn: >= 1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* Tablet: từ 768px đến < 1200px */
@media (max-width: 1199px) and (min-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* Mobile: < 768px */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
