.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding-top: 137px;
  z-index: 1;
}

/* Tablet: từ 768px đến < 1200px */
@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
