.contact-form-container {
  max-width: 600px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-form-inner {
  background: #fff;
  box-shadow: 1px 1px 10px #333;
  border-radius: 15px;
  padding: 40px;
}
.dark-mode .contact-form-inner {
  background-color: #595959;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
textarea {
  border-radius: 12px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border 0.2s;
}
textarea:focus {
  border: 1px solid #14845b;
  box-shadow: 0 2px 2px #14845b;
}
.dark-mode textarea:focus {
  box-shadow: 0 2px 2px #ffcc66;
  transition: ease-in-out 0.3s;
}
.submit-btn {
  background-color: #c0392b;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}
.submit-btn:hover {
  background-color: #a93226;
}
.dark-mode .submit-btn {
  background-color: #f7bc46;
  color: #000;
  font-weight: 600;
}
.dark-mode .submit-btn:hover {
  background-color: #ffcc66;
}
.dark-mode textarea {
  background-color: #696969;
  color: #fff;
}
.dark-mode textarea::placeholder {
  color: #fff;
  opacity: 1;
}
.dark-mode textarea:focus {
  box-shadow: 0 2px 2px #ffcc66;
  transition: ease-in-out 0.3s;
  border: 1px solid #ffcc66;
}
