.visit-us-card {
  background-color: #f9f9f7;
  display: flex;
  align-items: center;
  gap: 105px;
  padding: 68px 75px 112px 75px;
}
.dark-mode .visit-us-card {
  background-color: #595959;
}
.visit-cart-left {
  position: relative;
}

.visit-cart-left img {
  width: 449px;
  height: 425px;
  object-fit: cover;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}
.visit-cart-left img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
}
.cart-contact {
  position: absolute;
  top: 50%;
  right: -8%;
  width: 308px;
  height: 240px;
  color: #fff;
  background-color: #474747;
  padding: 45px;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}
.dark-mode .cart-contact {
  background-color: #fff;
  color: #494949;
}
.cart-contact:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
}
.cart-contact .title {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.cart-contact .contact-item {
  display: flex;
  align-items: start;
  gap: 15px;
  margin-top: 15px;
  font-weight: 300;
}

.visit-card-right .title {
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.dark-mode .visit-card-right .title {
  color: #ffcc66;
}
.visit-card-right .desc1 {
  font-size: 15px;
  margin-top: 22px;
}

.visit-card-right .desc2 {
  font-size: 14px;
  margin: 22px 0 38px;
}
