.our-menu {
  margin: 100px 0;
  background-color: #ffffff;
}

.menu-title {
  width: max-content;
  margin: 0px auto 70px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.menu-items {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
